@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

$background-color: #1C191A; 
$square-border-color: #FFDDE7;
$filled-color: #E9A1B9;

$correct: #5993eb;
$misplaced: #dd9384;
$wrong: #423b3d;

body {
    background-color: $background-color;
    font-family: 'Lilita One';
    min-height: 100dvh;
}

.wrapper {
    position: relative;
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(0, 1fr) minmax(0, 6.25fr) minmax(0, 2.75fr); // navbar grid keypad
    box-sizing: border-box;
    padding: 0 0 min(1%, 2rem) 0;
}

.navbar {
    position: relative;
    // height: 100%;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    border-bottom: 2px solid rgba(white, 0.3);
    padding: 0 1rem;
    box-sizing: border-box;

    .icon-group {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: clamp(0.5rem, 1vw, 1vw);
    }

    .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        cursor: pointer;
    
        svg {
            fill: white;
            width: clamp(1.15rem, 2vw, 2vw);
        }
    }
    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    p {
        color: white;
        font-size: clamp(1.25em, 2vw, 2vw);
        
        .wordle {
            color: $correct;
        }
        
        .clone {
            color: $misplaced;
        }
    }
}


.winner-note {
    position: absolute;
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    top: 5%;
    opacity: 0;
    right: 50%;
    transform: translate(50%, 50%);
    // width: max(7.5vw, 12.5vh);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 0.2s ease;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));

    p {
        color: $background-color;
        font-weight: normal;
        font-size: clamp(1em, 1.15vw, 1.15vw);
    }

    &.displayed {
        top: min(10%, 10vh);
        opacity: 1;
        transition: all 0.2s ease;
    }

}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100dvw;
    height: 100dvh;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &.displayed {
        opacity: 1;
        transition: opacity 0.2s ease;
        user-select: all;
        pointer-events: all;
    }
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    width: clamp(320px, 20%, 20%);
    max-width: 100%;

    transition: all 0.3s ease;

    transform: translate(-50%, -50%);
    z-index: 999;
    user-select: none;
    pointer-events: none;

    background-color: $background-color;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));

    // main display style
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;

    &.displayed {
        top: 50%;
        opacity: 1;
        transition: all 0.3s ease;
        user-select: none;
        pointer-events: all;
    }

    .header {
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: clamp(0.75rem, 1.35vw, 1.35vw);
    }
}

.info-container {

    .info-text {
        color: white;
        font-family: 'Poppins';
        font-size: 0.9em;

        &.heading {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.footer {
            font-size: 0.65em;

            a {
                color: $correct;
                text-decoration: none;
            }
        }
    }

    .how-to-play {
        color: white;
        text-transform: uppercase;
    }

    .tutorial-container {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        color: white;
        gap: 1rem;

        .tutorial-step {

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            gap: 0.5rem;

            .tutorial-text {
                font-family: 'Poppins';
                font-size: 0.8em;
            }
        }
    }

    .tutorial-sqr-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.stats-container {

    .word-to-guess {
        display: none;
        justify-content: space-between;
        align-items: center;

        &.displayed {
            display: flex;
        }
    }

    .next-word-container {
        color: white;
        display: none;
        justify-content: space-between;
        align-items: center;

        &.displayed {
            display: flex;
        }

        .next-word-text {
            font-size: 0.8em;
            font-family: 'Poppins'; 
        }

        .next-word-time-value {
            font-size: 0.8em;
            font-weight: bold;
            font-family: 'Poppins'; 
        }
    }

    .main-stats {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        position: relative;
        align-self: stretch;
        gap: 1rem;

        &-sec {
            display: grid;
            position: relative;
            // height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(0, 1fr) minmax(0, auto-fit);
            gap: 0.25rem;
            color: white;
            align-items: center;
            justify-content: center;

            .value {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $filled-color;
                font-size: 2rem;
            }

            .stat-text {
                display: flex;
                align-self: flex-start;
                align-items: center;
                justify-content: center;
                font-size: 0.75em;
                font-family: 'Poppins';    
                text-align: center;
            }
        }
    }

    .guess-distrib-container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .guess-container {
            display: grid;
            grid-template-columns: 1fr 19fr;
            grid-template-rows: 1fr;
            color: white;
            gap: 0.25rem;
            align-items: center;
            justify-content: center;
            text-align: center;

            .guess-number {
                font-size: 0.75em;
                font-family: 'Poppins';
            }

            .guess-value {
                font-family: 'Poppins';
                font-size: 0.75em;
                // border: 1px solid red;
                border-radius: 5px;
                background-color: $wrong;
                padding: 0.25rem;
                box-sizing: border-box;
                width: fit-content;
                min-width: fit-content;

                p {
                    text-align: right;
                }

                &.added {
                    color: $background-color;
                    font-weight: bold;
                    background-color: $filled-color;
                }
            }

        }
    }
}

.settings-container {
    
    .settings-option {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 0.25rem;

        p {
            color: white;
            font-family: 'Poppins';
            flex: 75;
            font-size: clamp(0.95em, 1.275vw, 1.3vw);
        }

        .switch-container {
            position: relative;
            display: flex;

            height: 24px;
            min-height: 24px;
            max-width: 48px;
            min-width: 48px;

            padding: 0.35rem;
            // box-sizing: border-box;
            border-radius: 999px;
            background-color: $wrong;
            flex: 25;
            align-self: stretch;
            transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

            .switch-handle {
                position: relative;
                flex: 0.5;
                aspect-ratio: 1;
                background-color: white;
                border-radius: 999px;
                left: 0;
                transition: all 0.2s ease-out;
                box-shadow: 0px 2px 10px rgba(black, 0.5);
            }

            &.on {
                background-color: $filled-color;
                transition: all 0.5s ease;

                .switch-handle {
                    left: 50%;
                }
            }
        }
    }
}

.key-container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 0.25rem;

    width: clamp(480px, 35%, 50%);
    height: 100%;
    max-width: 100%;
    justify-self: center;
    align-content: center;
}

.key-row {
    display: flex;
    gap: 0.25rem;
}

.key {
    position: relative;
    font-size: clamp(0.7em, 1vw, 1vw);
    font-weight: bold;
    height: 100%;
    width: 100%;
    color: $square-border-color;
    background-color: $wrong;
    border: none;
    padding: 0;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.1s ease;
    z-index: inherit;
    user-select: none;

    &.wrong {
        opacity: 0.5;
        background-color: $wrong;
    }

    &.misplaced {
        background-color: $misplaced;
        color: $background-color;
        border-color: rgba($background-color, 0.5);
    }

    &.correct {
        background-color: $correct;
        color: $background-color;
        border-color: rgba($background-color, 0.5);
    }

    &.pressed {
        background-color: $filled-color;
        color: $background-color;
        transform: scale(1.1);
        transition: transform 0.1s ease;
        z-index: 999;
    }

    &.enter, &.delete {
        font-size: clamp(0.7em, 0.9vw, 0.9vw);
        min-width: fit-content;
    }

}

.wordle-grid-container {

    position: relative;

    width: clamp(480px, 35%, 50%);
    max-width: 100%;
    max-height: 100%;

    padding: 1rem;
    box-sizing: border-box;
    
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: clamp(0.25rem, 0.35vw, 0.35vw);
}

.row-container {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: clamp(0.25rem, 0.35vw, 0.35vw);

    &.shake {
        animation: 0.1s shake ease;

        .square {
            border-color: #df1256;

            p {
                color: #df1256;
            }
        }
    }
}

.square {
    position: relative;
    width: max(3rem, 7.5%);
    aspect-ratio: 1;    // to make this a square
    border-radius: 5px;
    border: 3px solid rgba($square-border-color, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    --flip-anim-speed: 0.5s;

    &.word-to-guess-sqr {
        width: max(2.25rem, 6.25%);
        aspect-ratio: 1;    // to make this a square
    }

    &.tutorial-sqr {
        width: max(2.25rem, 6.25%);
        aspect-ratio: 1;
        border: 2px solid rgba($square-border-color, 0.25);
        p {
            font-size: 1.25rem;
        }
    }

    &.popped {
        animation: 0.1s pop ease-out;
    }

    &.out {
        animation: 0.1s out ease-out;
    }

    &.flipped {
        animation: var(--flip-anim-speed) flip ease;
    }

    &.jumped {
        animation: 0.2s jump ease-out;
    }

    &.filled {
        border-color: $filled-color;
    }

    &.correct {
        border-color: $correct;
        background-color: $correct;

        p {
            color: $background-color;
        }
    }

    &.misplaced {
        border-color: $misplaced;
        background-color: $misplaced;

        p {
            color: $background-color;
        }
    }

    &.wrong {
        border-color: $wrong;
        background-color: $wrong;
    }

    p {
        color: $filled-color;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        // font-weight: bold;
    }
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }

}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5%);
    }
    
    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes jump {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 480px) {

    body {
        position: fixed;
        min-width: 100vw;
        min-height: 100svh;
    }

    .key-container {
        width: 100%;
        gap: 0.25rem;
        padding: 0.25rem;
    
        .key-row {
            gap: 0.25rem;
        }
    }  

    .key {
        &.enter, &.delete {
            font-size: 0.5rem;
        }
    }

    .container {
        // gap: 0.75rem;
        padding: 2rem 1.25rem;
        max-width: 80%;
    }
}