@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
:root {
  --dark-background-color: #1c191a;
  --dark-background-color-rgb: 28, 25, 26;
  --dark-square-border-color: #ffdde7;
  --dark-square-border-color-rgb: 255, 221, 231;
  --dark-filled-color: #ebf1f8;
  --dark-filled-color-rgb: 235, 241, 248;
  --dark-correct: #5993eb;
  --dark-misplaced: #dd9384;
  --dark-wrong: #423b3d;
  --dark-error: #df3545;
  --dark-primary: #1c191a;
  --dark-primary-rgb: 28, 25, 26;
  --dark-secondary: #fff;
  --dark-secondary-rgb: 255, 255, 255;
  --dark-system-color-rgb: 74, 220, 133;
  --light-background-color: #fff;
  --light-background-color-rgb: 255, 255, 255;
  --light-square-border-color: #000;
  --light-square-border-color-rgb: 0, 0, 0;
  --light-filled-color: #2a394e;
  --light-filled-color-rgb: 42, 57, 78;
  --light-correct: #2976e9;
  --light-misplaced: #ee4524;
  --light-wrong: #e6e3e6;
  --light-error: rgb();
  --light-system-color-rgb: 35, 197, 98;
  --light-primary: #fff;
  --light-secondary: #1c191a;
  --light-primary-rgb: 255, 255, 255;
  --light-secondary-rgb: 28, 25, 26;
  --light-error: #f93b55;
  --background-color: var(--light-background-color);
  --background-color-rgb: var(--light-background-color-rgb);
  --square-border-color: var(--light-square-border-color);
  --square-border-color-rgb: var(--light-square-border-color-rgb);
  --filled-color: var(--light-filled-color);
  --filled-color-rgb: var(--light-filled-color-rgb);
  --correct: var(--light-correct);
  --misplaced: var(--light-misplaced);
  --wrong: var(--light-wrong);
  --error: var(--light-error);
  --primary: var(--light-primary);
  --primary-rgb: var(--light-primary-rgb);
  --secondary: var(--light-secondary);
  --secondary-rgb: var(--light-secondary-rgb);
  --system-color-rgb: var(var(--light-system-color-rgb));
}
.container {
  align-items: stretch;
  background-color: var(--background-color);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  left: 50%;
  max-width: 100%;
  opacity: 0;
  padding: 2rem;
  pointer-events: none;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: clamp(320px, 20%, 20%);
  z-index: 999;
}
.container,
.container.displayed {
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.container.displayed {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}
.container .header {
  align-items: center;
  color: var(--secondary);
  display: flex;
  font-family: Poppins;
  font-size: clamp(0.75rem, 1.15vw, 1rem);
  font-weight: 700;
  justify-content: left;
  text-transform: uppercase;
}
.info-container .info-text {
  color: var(--secondary);
  font-family: Poppins;
  font-size: 0.9em;
}
.info-container .info-text.heading {
  align-items: center;
  display: flex;
  justify-content: center;
}
.info-container .info-text.footer {
  font-size: 0.65em;
}
.info-container .info-text.footer a {
  color: var(--correct);
  text-decoration: none;
}
.info-container .how-to-play {
  color: var(--secondary);
  text-transform: uppercase;
}
.info-container .tutorial-container {
  align-items: stretch;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.info-container .tutorial-container .tutorial-step {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
}
.info-container .tutorial-container .tutorial-step .tutorial-text {
  font-family: Poppins;
  font-size: 0.8em;
}
.info-container .tutorial-sqr-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.stats-container .word-to-guess {
  align-items: center;
  display: none;
  justify-content: space-between;
}
.stats-container .word-to-guess.displayed {
  display: flex;
}
.stats-container .next-word-container {
  align-items: center;
  color: var(--secondary);
  display: none;
  justify-content: space-between;
}
.stats-container .next-word-container.displayed {
  display: flex;
}
.stats-container .next-word-container .next-word-text {
  font-family: Poppins;
  font-size: 0.8em;
}
.stats-container .next-word-container .next-word-time-value {
  font-family: Poppins;
  font-size: 0.8em;
  font-weight: 700;
}
.stats-container .main-stats {
  align-self: stretch;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  position: relative;
}
.stats-container .main-stats-sec {
  align-items: center;
  color: var(--secondary);
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, auto-fit);
  justify-content: center;
  position: relative;
}
.stats-container .main-stats-sec .value {
  align-items: center;
  color: var(--filled-color);
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
.stats-container .main-stats-sec .stat-text {
  align-items: center;
  align-self: flex-start;
  display: flex;
  font-family: Poppins;
  font-size: 0.75em;
  justify-content: center;
  text-align: center;
}
.stats-container .guess-distrib-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.stats-container .guess-distrib-container .guess-container {
  align-items: center;
  color: var(--secondary);
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 19fr;
  grid-template-rows: 1fr;
  justify-content: center;
  text-align: center;
}
.stats-container .guess-distrib-container .guess-container .guess-number {
  font-family: Poppins;
  font-size: 0.75em;
}
.stats-container .guess-distrib-container .guess-container .guess-value {
  background-color: var(--wrong);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 0.75em;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
}
.stats-container .guess-distrib-container .guess-container .guess-value p {
  text-align: right;
}
.stats-container .guess-distrib-container .guess-container .guess-value.added {
  background-color: var(--filled-color);
  color: var(--background-color);
  font-weight: 700;
}
.stats-container .guess-distrib-container #guess-distrib-7 {
  display: none;
}
.stats-container .copy-to-clipboard-btn {
  align-items: center;
  background-color: var(--correct);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: clamp(0.925em, 1.175vw, 1em);
  height: 100%;
  justify-content: center;
  outline: none;
  padding: 1rem 1.25rem;
  position: relative;
  width: 100%;
}
.stats-container .copy-to-clipboard-btn:hover {
  background-color: #3181fa;
}
.stats-container .copy-to-clipboard-btn.disabled {
  display: none;
}
.settings-container .settings-option {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.settings-container .settings-option p {
  color: var(--secondary);
  flex: 75;
  font-family: Poppins;
  font-size: clamp(0.95em, 1.15vw, 1.125rem);
}
.settings-container .settings-option .switch-container {
  align-self: stretch;
  background-color: var(--wrong);
  border-radius: 999px;
  display: flex;
  flex: 25;
  height: 24px;
  max-width: 48px;
  min-height: 24px;
  min-width: 48px;
  padding: 0.35rem;
  position: relative;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.settings-container .settings-option .switch-container .switch-handle {
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  flex: 0.5;
  left: 0;
  position: relative;
  transition: all 0.2s ease-out;
}
.settings-container .settings-option .switch-container.on {
  background-color: var(--correct);
  transition: all 0.5s ease;
}
.settings-container .settings-option .switch-container.on .switch-handle {
  left: 50%;
}
.settings-container .settings-option .switch-container.disabled {
  opacity: 0.5;
}
.cover {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  height: 100dvh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100dvw;
  z-index: 998;
}
.cover,
.cover.displayed {
  transition: opacity 0.2s ease;
}
.cover.displayed {
  opacity: 1;
  pointer-events: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}
.key-container {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: repeat(3, minmax(0, 1fr));
  height: 100%;
  justify-self: center;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  width: clamp(480px, 35%, 50%);
}
.key-row {
  display: flex;
  gap: 0.25rem;
}
.key {
  border: none;
  border-radius: 5px;
  color: var(--square-border-color);
  font-size: clamp(0.7em, 1vw, 1vw);
  font-weight: 700;
  height: 100%;
  padding: 0;
  position: relative;
  transform: scale(1);
  transition: transform 0.1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  z-index: inherit;
}
.key,
.key.wrong {
  background-color: var(--wrong);
}
.key.wrong {
  opacity: 0.5;
}
.key.misplaced {
  background-color: var(--misplaced);
}
.key.correct,
.key.misplaced {
  border-color: rgba(var(--background-color-rgb), 0.5);
  color: var(--background-color);
}
.key.correct {
  background-color: var(--correct);
}
.key.pressed {
  background-color: var(--filled-color);
  color: var(--background-color);
  transform: scale(1.1);
  transition: transform 0.1s ease;
  z-index: 999;
}
.key.delete,
.key.enter {
  font-size: clamp(0.7em, 0.9vw, 0.9vw);
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.key.error {
  background-color: var(--error);
}
body {
  background-color: var(--background-color);
  font-family: Lilita One;
  min-height: 100dvh;
}
.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(0, 1fr) minmax(0, 6.25fr) minmax(0, 2.75fr);
  height: 100dvh;
  padding: 0 0 min(1%, 2rem);
  position: relative;
  width: 100%;
}
.separator {
  border-color: rgba(var(--secondary-rgb), 0.2);
  width: 100%;
}
.navbar {
  border-bottom: 2px solid rgba(var(--secondary-rgb), 0.3);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  padding: 0 1rem;
  position: relative;
}
.navbar .icon-group {
  align-items: center;
  display: flex;
  gap: clamp(0.5rem, 1vw, 1vw);
  justify-content: right;
}
.navbar .icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: left;
  position: relative;
}
.navbar .icon svg {
  fill: var(--secondary);
  width: clamp(1.15rem, 2vw, 2vw);
}
.winner-note {
  align-items: center;
  background-color: var(--primary);
  border: 1px solid rgba(var(--secondary-rgb), 0.1);
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  min-height: 5vh;
  opacity: 0;
  padding: 0.25rem 1rem;
  position: absolute;
  right: 0;
  top: 5%;
  transition: all 0.2s ease;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99999;
}
.winner-note p {
  color: var(--secondary);
  font-size: clamp(0.75em, 1.1vw, 1.1vw);
  font-weight: 400;
}
.winner-note.displayed {
  opacity: 1;
  top: min(10%, 10vh);
  transition: all 0.2s ease;
}
.winner-note.error {
  background-color: var(--error);
}
.winner-note.error p {
  color: #fff;
  font-weight: 400;
}
.winner-note.warning {
  background-color: #fafa32;
}
.winner-note.system {
  background-color: rgb(var(--system-color-rgb));
}
.winner-note.system p {
  color: rgb(var(--primary-rgb));
}
.title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.title p {
  color: var(--secondary);
  font-size: clamp(1.25em, 2vw, 2vw);
}
.title p .wordle {
  color: var(--correct);
}
.title p .clone {
  color: var(--misplaced);
}
.wordle-grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-self: center;
  max-height: 100%;
  max-width: 100%;
  padding: 1rem;
  width: clamp(480px, 35%, 50%);
}
.row-container,
.wordle-grid-container {
  align-self: center;
  gap: clamp(0.25rem, 0.35vw, 0.35vw);
  position: relative;
}
.row-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.row-container.shake {
  animation: shake 0.1s ease;
}
.row-container.shake .square {
  border-color: #f93b55;
}
.row-container.shake .square p {
  color: #f93b55;
}
.square {
  --flip-anim-speed: 0.5s;
  align-items: center;
  aspect-ratio: 1;
  border: 3px solid rgba(var(--square-border-color-rgb), 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  width: max(3rem, 7.5%);
}
.square.tutorial-sqr,
.square.word-to-guess-sqr {
  aspect-ratio: 1;
  width: max(2.25rem, 6.25%);
}
.square.tutorial-sqr {
  border: 2px solid rgba(var(--square-border-color-rgb), 0.25);
}
.square.tutorial-sqr p {
  font-size: 1.25rem;
}
.square.special {
  background: var(--primary);
  border: none;
  width: max(3rem + 6px, 7.5% + 6px);
}
.square.special:after,
.square.special:before {
  animation: steam 10s linear infinite;
  background: linear-gradient(
    45deg,
    #4b4193,
    #6fc7d8,
    #e94090,
    #eb5f35,
    #4b4193,
    #6fc7d8,
    #e94090,
    #eb5f35,
    #4b4193,
    #6fc7d8
  );
  background-size: 200%;
  border-radius: 5px;
  content: "";
  height: calc(100% + 4px);
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100% + 4px);
  z-index: -1;
}
.square.popped {
  animation: pop 0.1s ease-out;
}
.square.out {
  animation: out 0.1s ease-out;
}
.square.flipped {
  animation: var(--flip-anim-speed) flip ease;
}
.square.jumped {
  animation: jump 0.2s ease-out;
}
.square.filled {
  border-color: var(--filled-color);
}
.square.correct {
  background-color: var(--correct);
  border-color: var(--correct);
}
.square.correct p {
  color: var(--background-color);
}
.square.misplaced {
  background-color: var(--misplaced);
  border-color: var(--misplaced);
}
.square.misplaced p {
  color: var(--background-color);
}
.square.wrong {
  background-color: var(--wrong);
  border-color: var(--wrong);
}
.square.wrong.special {
  border: none;
}
.square p {
  color: var(--filled-color);
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  to {
    background-position: 0 0;
  }
}
@media screen and (max-width: 480px) {
  body {
    min-height: 100svh;
    min-width: 100vw;
    position: fixed;
  }
  .key-container {
    gap: 0.25rem;
    padding: 0.25rem;
    width: 100%;
  }
  .key-container .key-row {
    gap: 0.25rem;
  }
  .key.delete,
  .key.enter {
    font-size: 0.5rem;
  }
  .container {
    max-width: 80%;
    padding: 2rem 1.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-background-color);
    --background-color-rgb: var(--dark-background-color-rgb);
    --square-border-color: var(--dark-square-border-color);
    --square-border-color-rgb: var(--dark-square-border-color-rgb);
    --filled-color: var(--dark-filled-color);
    --filled-color-rgb: var(--dark-filled-color-rgb);
    --correct: var(--dark-correct);
    --misplaced: var(--dark-misplaced);
    --wrong: var(--dark-wrong);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --primary-rgb: var(--dark-primary-rgb);
    --secondary-rgb: var(--dark-secondary-rgb);
  }
}
