@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
body {
  background-color: #1C191A;
  font-family: "Lilita One";
}

.wrapper {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 6.25fr) minmax(0, 2.75fr);
  box-sizing: border-box;
  padding: 0 0 min(1%, 2rem) 0;
}

.navbar {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0 1rem;
  box-sizing: border-box;
}
.navbar .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.navbar .title p {
  color: white;
  font-size: clamp(1.25em, 2vw, 2vw);
}
.navbar .title p .wordle {
  color: #5993eb;
}
.navbar .title p .clone {
  color: #dd9384;
}
.navbar .icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 1vw);
}
.navbar .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .icon svg {
  fill: white;
  width: clamp(1.15rem, 2vw, 2vw);
}

.key-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 0.5rem;
  box-sizing: border-box;
  gap: 0.25rem;
  width: clamp(400px, 32.5%, 32.5%);
  height: 100%;
  max-width: 100%;
  justify-self: center;
}

.key-row {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.25rem;
}
.key-row.keys-1 {
  grid-template-columns: repeat(10, 1fr);
}
.key-row.keys-2 {
  grid-template-columns: repeat(9, 1fr);
}
.key-row.keys-3 {
  grid-template-columns: repeat(9, 1fr);
}

.key {
  position: relative;
  font-size: clamp(0.8em, 1vw, 1vw);
  font-weight: bold;
  height: 100%;
  width: 100%;
  color: #FFDDE7;
  background-color: #423b3d;
  border: none;
  border: 2px solid rgba(255, 221, 231, 0.3);
  border-radius: 5px;
  transform: scale(1);
  transition: transform 0.1s ease;
  z-index: inherit;
}
.key.pressed {
  background-color: #E9A1B9;
  color: #1C191A;
  transform: scale(1.1);
  transition: transform 0.1s ease;
  z-index: 999;
}
.key.enter, .key.delete {
  font-size: clamp(0.7em, 0.9vw, 0.9vw);
}

.wordle-grid-container {
  position: relative;
  width: clamp(400px, 50%, 50%);
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: clamp(0.25rem, 0.35vw, 0.35vw);
}

.row-container {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: clamp(0.25rem, 0.35vw, 0.35vw);
}
.row-container.shake {
  animation: 0.1s shake ease;
}

.square {
  position: relative;
  width: max(3rem, 7.5%);
  aspect-ratio: 1;
  border-radius: 5px;
  border: 3px solid rgba(255, 221, 231, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.square.popped {
  animation: 0.1s pop ease-out;
}
.square.out {
  animation: 0.1s out ease-out;
}
.square.flipped {
  animation: 0.5s flip ease;
}
.square.filled {
  border-color: #E9A1B9;
}
.square.correct {
  border-color: #5993eb;
  background-color: #5993eb;
}
.square.correct p {
  color: #1C191A;
}
.square.misplaced {
  border-color: #dd9384;
  background-color: #dd9384;
}
.square.misplaced p {
  color: #1C191A;
}
.square.wrong {
  border-color: #423b3d;
  background-color: #423b3d;
}
.square p {
  color: #E9A1B9;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */