@media screen and (max-width: 480px) {
  body {
    position: fixed;
    min-width: 100vw;
    min-height: 100svh;
  }

  .key-container {
    width: 100%;
    gap: 0.25rem;
    padding: 0.25rem;

    .key-row {
      gap: 0.25rem;
    }
  }

  .key {
    &.enter,
    &.delete {
      font-size: 0.5rem;
    }
  }

  .container {
    // gap: 0.75rem;
    padding: 2rem 1.25rem;
    max-width: 80%;
  }
}
