@use "../abstracts/colors" as *;

.navbar {
  position: relative;
  display: flex;
  border-bottom: 2px solid rgba(var(--secondary-rgb), 0.3);
  padding: 0 2rem;
  box-sizing: border-box;

  .icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: clamp(0.5rem, 1vw, 1vw);
  }

  .title {
    width: 100%;
  }

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;

    &:hover {
      background: rgba(var(--secondary-rgb), 0.2);
    }
  }
}

.lucide {
  /* Change this! */
  position: relative;
  display: flex;
  color: var(--secondary);
  width: clamp(20px, 1.5vw, 1.5vw);
  height: clamp(20px, 1.5vw, 1.5vw);
  stroke-width: 2px;
}



