@use "../abstracts/colors" as *;

.winner-note {
    position: absolute;
    background-color: var(--primary);   
    padding: 0.25rem 1rem;
    border-radius: 10px;
    top: 5%;
    opacity: 0;
    right: 50%;
    transform: translate(50%, 50%);
    // width: max(7.5vw, 12.5vh);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 0.2s ease;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));

    p {
        color: var(--secondary);
        font-weight: normal;
        font-size: clamp(1em, 1.15vw, 1.15vw);
    }

    &.displayed {
        top: min(10%, 10vh);
        opacity: 1;
        transition: all 0.2s ease;
    }

}